<div ng-controller = "addReplenishmentFilter"> <div class="row add_tit ng-scope">
	<div class="col-lg-12">
		<h3 class="page-header" ng-show="{{titleadd}}">{{ovcLabel.replenishmentFilters.addNewFilter}}
		</h3>
		<h3 class="page-header" ng-show="{{titleedit}}"> {{ovcLabel.replenishmentFilters.editReplenishmentFilter}} </h3>
	</div>
	<!-- /.col-lg-12 -->
</div>
<div class="row">
	<div class="col-lg-12">
		<section >
			<div class="pro_menu clearfix">
				<div class="col-md-12">
					<ul class="nav nav-pills">
						<li ng-class="{active:tab.isSet(1)}"><a href id="products"
							ng-click="tab.setTab(1)"> <!-- <span class="build_i">
				<i class="fa fa-building-o"></i><i class="fa fa-building-o"></i></span> -->{{ovcLabel.replenishmentFilters.tab.products}}
						</a></li>
						<li ng-class="{active:tab.isSet(2)}"><a href id="protocol" ng-click=" tab.setTab(2)"
							 > <!-- <span class="build_i dollar_i"><i class="fa fa-usd"></i></span> -->{{ovcLabel.replenishmentFilters.tab.protocol}}
						</a></li>
						<li ng-class="{active:tab.isSet(3)}"><a href id="advance_criteria" ng-click=" tab.setTab(3)"
							 > <!-- <span class="build_i"><i class="fa fa-shopping-cart"></i></span> -->{{ovcLabel.replenishmentFilters.tab.advancedCriteria}}
						</a></li>
						<li ng-class="{active:tab.isSet(4)}"><a href id="review" ng-click="loadSelectedLocationValue('review');loadselectedmerchandiseValue('review'); loadpropertvalue('review');loadattributevalue('review');tab.setTab(4)"
							 > <!-- <span class="build_i"><i class="fa fa-shopping-cart"></i></span> -->{{ovcLabel.replenishmentFilters.tab.review}}
						</a></li>
					</ul>
				</div>
			</div>
			<!-- <form role="form" name="form" class="form-horizontal"> -->
				<div ng-show="tab.isSet(1)">
					<div class="ven_tblk clearfix">
						<div class="row r_margin ng-scope" >
							<div class="col-md-12" >
								<div class="row">
									<form role="form" name="form"  class="form-horizontal">
										<div class="col-lg-12 col-sm-12 col-md-12 col-xs-12">
											<div class="form-group ">
												<div class="col-lg-4  col-sm-12 col-md-4 col-xs-12">
													 <label class="control-label">
														{{ovcLabel.replenishmentFilters.filterName}}: </label> <input
														class="form-control"
														placeholder="{{ovcLabel.replenishmentFilters.placeholder.filterName}}"
														ng-click="data.filterNameErrorMessage = false" 
														ng-model="F_edit.FilterName" name="filterName"> <span
														ng-show="data.filterNameErrorMessage"
														 style="margin: 3px 0px 0px 0px"
														class="alert alert-danger">{{ovcLabel.replenishmentFilters.filterName}}</span>
												</div>
											</div> 
										</div>
										<div class="col-lg-12 col-sm-12 col-md-12 col-xs-12">
											<div class="form-group">
												<span class="col-sm-12 col-xs-12 col-md-3"> <label class="control-label">{{ovcLabel.replenishmentFilters.location}}</label><br />
													<div click-out="showLoc=false" class="dropdown col-sm-12" style="padding-left: 0px;" >
														<div style="position: relative;" class="tooltip-pro">
															<input type="text" id="common_heirarchy_check" class="form-control"
																ng-model="location.displayName" ng-focus="showLoc = true"
																placeholder="{{ovcLabel.replenishmentFilters.placeholder.location}}"
																style="padding: 6px 18px 6px 10px;"
																ng-change="searchLocation(location.displayName);" tooltip-placement="bottom" uib-tooltip="{{location.title}}"/> <span
																class="fa"
																ng-class="{'fa-caret-up' : showLoc, 'fa-caret-down' : ! showLoc}"
																style="position: absolute; right: 7px; top: 10px;"></span>
														</div>
														<div tree-view="storeLocData" node-search="filterSearch()" check-box = "true"
															node-label="name" ng-show="showLoc"
															class="dropdown-menu treeViewDrop"
															style="display: block; width: 300px;" mode="listlocation"></div>
															<span ng-show="data.locationErrorMessage" style="margin: 3px 0px 0px 0px" class="alert alert-danger">{{ovcLabel.replenishmentFilters.location}}</span>
													</div>
												</span>
												<span class="col-sm-12 col-xs-12 col-md-3"> <label class="control-label">{{ovcLabel.replenishmentFilters.merchandiseGroup}}</label><br />
													<div click-out="showLoc1=false" class="dropdown col-sm-12" style="padding-left: 0px;">
														<div style="position: relative;" class="tooltip-pro width_padd">
															<input id="common_heirarchy_check" type="text" class="form-control"
																ng-model="location.storeName" ng-focus="showLoc1 = true"
																ng-click="data.locationErrorMessage = false" 
																placeholder="{{ovcLabel.replenishmentFilters.placeholder.merchandiseGroup}}"
																style="padding: 6px 18px 6px 10px;"
																ng-change="searchSecondLocation(location.storeName);" /> 
																<span
																class="fa"
																ng-class="{'fa-caret-up' : showLoc1, 'fa-caret-down' : ! showLoc1}"
																style="position: absolute; right: 7px; top: 10px;"></span>
														</div>
														<div tree-view-merchandise="MerchandiseData" node-search="filterSearch()" node-label="name" ng-show="showLoc1"
															class="dropdown-menu treeViewDrop" style="display: block; width: 300px; max-height: 300px;" >
														</div>
													</div>
												</span>
											</div>
										</div>
									</form>
								</div>
								<div class="box" style="padding-top: 17px;padding-bottom: 10px;" ng-show="dropdownDashCall.productProperty">
										<div  class="tooltip-pro inline_box" ng-repeat = "(key,value) in  dropdownDashCall.productProperty">
												<div  class= "col-md-12" multiselect-common="" items="value.propertyValue" selected-items="value.selectedProperty" content="'productProperty'" naming="{{value.propertyName}}" dynamic="value.propertyName" style="margin-bottom: 10px;" tooltip-placement="top" uib-tooltip="{{getSelecteditem(value.selectedProperty)}}" >
												</div>
										</div>
								</div>
								<div class="box" style="padding-top: 17px;padding-bottom: 10px;" ng-show="dropdownDashCall.productAttribute">
										<div  class="tooltip-pro inline_box" ng-repeat = "(key,value) in  dropdownDashCall.productAttribute">
												<div  class= "col-md-12" multiselect-common="" items="value.variantValue" selected-items="value.selectedProperty"  content="'productAttribute'" naming="{{key}}" dynamic="key" style="margin-bottom: 10px;" tooltip-placement="top" uib-tooltip="{{getSelecteditem(value.selectedProperty)}}">
												</div>
										</div>
								</div>
								<div class="col-md-5 col-sm-5 search_btns porder_srch"
									style="margin-top: 3%;">
									<button id="common_RPL_cancel" type="reset" class="btn btn-primary rst_btn ng-binding"
										ui-sref="ovc.ReplenishmentFilter">
										{{ovcLabel.replenishmentFilters.buttons.cancel}}</button>
									<button id="common_RPL_next" type="submit" class="btn btn-primary ng-binding" id="addNewFilter" ng-click="productfilterNextBtn('protocol',filterName);"
										style="margin-right: 10px;">
										{{ovcLabel.replenishmentFilters.buttons.next}}</button>
									<!-- 	ng-click="asnSearch()"  -->

								</div>

							</div>
						</div>
					</div>
				</div>

				<div ng-show="tab.isSet(2)">
					<div class="ven_tblk clearfix">
						<div class="row r_margin ng-scope">
							<div class="col-md-12" ng-include="'views/ReplenishmentFilter/replenismentFilterProtocol.html'"></div>
						</div>
					</div>
				</div>
				<!-- /.panel -->

				<div ng-show="tab.isSet(3)">

					<div class="row r_margin">
						<div class="ven_tblk clearfix">
							<div class="col-lg-12" ng-include="'views/ReplenishmentFilter/replenismentFilterAdvancedCriteria.html'"></div>
						</div>
					</div>
				</div>
				<div ng-show="tab.isSet(4)">

					<div class="row r_margin">
						<div class="ven_tblk clearfix">
							<div class="col-lg-12" ng-include="'views/ReplenishmentFilter/replenismentFilterReview.html'" ></div>
						</div>
					</div>
				</div>

			<!-- </form> -->
		</section>
	</div>
	<!-- /.col-lg-12 -->
</div></div>