option_settings:
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: API_PORT
    value: 3000
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: AUTH_PORT
    value: 3000
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: CLIENT_PORT
    value: 3000
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: DASH_PATH
    value: http://OVCSERVER/ovcdashboard/
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: POS_PATH
    value: http://OVCSERVER:OVCPORT/json
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: BROKER_PATH
    value: tcp://IMSERVER:3008
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: BROADCAST_PATH
    value: tcp://*:3008
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: AUTH_PATH
    value: https://IMSERVER:3009
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: API_PATH
    value: https://IMSERVER:3007
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: DB_CONN
    value: mongodb://DBSERVER:DBPORT/DBNAME
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: JMS_QUEUE_STOCK_EXPORT
    value: stock_export
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: JMS_QUEUE_COUNT_EXPORT
    value: count_export
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: JMS_QUEUE_INV_BAL_EXPORT
    value: inv_bal_export
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: JMS_QUEUE_ADJUST_EXPORT
    value: adjust_export
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: JMS_QUEUE_PO_SUBMIT
    value: po_submit
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: JMS_QUEUE_PO_CONFIRMED
    value: po_confirm
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: JMS_QUEUE_PO_ASN
    value: po_asn
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: JMS_QUEUE_POS
    value: pos_tlog
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: JMS_QUEUE_RETURN_EXPORT
    value: return_export
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: AWS_REGION
    value: us-east-1
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: AWS_MAXNUMBEROFMESSAGES
    value: 10
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: AWS_WAITTIMESECONDS
    value: 1
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: AWS_DELAYSECONDS
    value: 10
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: AWS_BUCKET
    value: ovc-stockteam
