option_settings:
  aws:elb:listener:443:
    ListenerProtocol: HTTPS
    SSLCertificateId: arn:aws:acm:us-east-1:748109554602:certificate/29bd18b2-2c4a-4581-a1bd-1e265a35d313
    InstancePort: 80
    InstanceProtocol: HTTP
  aws:elb:listener:3007:
    ListenerProtocol: HTTPS
    SSLCertificateId: arn:aws:acm:us-east-1:748109554602:certificate/29bd18b2-2c4a-4581-a1bd-1e265a35d313
    InstancePort: 3007
    InstanceProtocol: HTTP
  aws:elb:listener:3008:
    ListenerProtocol: TCP
    InstancePort: 3008
    InstanceProtocol: TCP
  aws:elb:listener:3009:
    ListenerProtocol: HTTPS
    SSLCertificateId: arn:aws:acm:us-east-1:748109554602:certificate/29bd18b2-2c4a-4581-a1bd-1e265a35d313
    InstancePort: 3009
    InstanceProtocol: HTTP
