<div class="col-md-12 trans_det" >
	<table  id="order_summary_export" style="width:100%;" ng-if="skuslist.length && !rplorder">	
		<thead>	
			<tr>
				<td>
				<table><thead><tr></tr></thead><tbody><td></td></tbody></table>
				<table class="table sku_table sku_config_head" ng-class="{'export_table' :  printclass}" >
					<thead style="border-bottom: 1px solid #DDD;">
						<tr>
							<th>{{ovcLabel.styleGroup.lineNo}}</th>
							<th>{{ovcLabel.styleGroup.sku}}</th>
							<th>{{ovcLabel.styleGroup.description}}</th>
							<th  ng-if = "config.config_arr.selectedProductVariants">{{ovcLabel.styleGroup.productVariants}}</th>
							<th ng-if="userRolePermissions.permissions.viewPurchasePrice && !transferView">{{ovcLabel.styleGroup.cost}}</th>
							<th>{{ovcLabel.styleGroup.UOM}}</th>
							<th ng-if = "summaryView || transferView && !ship.shipmentview"><center>{{ovcLabel.styleGroup.submitted}}</center></th>
							<th ng-if = "!summaryView && !transferView" class="hide_pdf">{{ovcLabel.styleGroup.qty}}</th>
							<th ng-if = "summaryView"><center>{{ovcLabel.styleGroup.expected}}</center></th>
							<th ng-if = "summaryView   || transferView "><center>{{ovcLabel.styleGroup.received}}</center></th>
							<th ng-if="userRolePermissions.permissions.viewPurchasePrice && !transferView"> {{ovcLabel.styleGroup.totalcost}}</th>
							<th ng-if="!summaryView && tab.page != 4 && !transferView" class="hide_pdf">{{ovcLabel.styleGroup.action}}</th>
						</tr>
					</thead>
						<tbody  class="trans-tooltip noborder" >
							<tr ng-repeat="($index,sku) in skuslist | orderBy:'+lineNumber'" ng-if = "!summaryView && !transferView && !rplorder">
								<td>{{sku.lineNumber}}</td>
								<td>{{sku.productCode}}</td>
								<td>{{sku.description}}</td>
								<td ng-if="config.config_arr.selectedProductVariants">
								<div ng-repeat="($index,attribute) in config.config_arr.selectedProductVariants.featureValue" class="product_report" ng-if="sku.variants[attribute]"><span class="">{{translation.purchaseorders[0][attribute]?translation.purchaseorders[0][attribute]:attribute}} : </span><span class="">{{sku.variants[attribute]?sku.variants[attribute]:'-'}}</span><br></div>
								</td>
								<td ng-if="userRolePermissions.permissions.viewPurchasePrice">{{currency}} {{sku.cost | number:2}}</td>
								<td>
									 <select ng-options=" uom.value as uom.name for uom in UOM  | orderBy:'name' "  ng-model="sku.selectedUOM" ng-change = "SKUQTYChange(sku)" class="form-control" ng-if="tab.page === 1">
										<option value="">--{{ovcLabel.styleGroup.selectuom}}--</option>
									</select>
									<span ng-show="tab.page == 4">{{UOMvalues[sku.selectedUOM]}}</span>
								</td>
								<td ng-if = "viewstorestyle && (sku.inOutBoundFrom)">{{sku.from_store_ats}}
								</td>
								<td ng-if = "viewstorestyle && (sku.inOutBoundTo)">{{sku.to_store_ats}}</td>
								<td class="hide_pdf" ng-class="tab.page == 4 ? '' :'pdf-qty'" ng-init = "sku.changed = false;">
								<button type = "button" class="btn btn-primary btn-sm" ng-show="tab.page == 1" ng-click="sku.qty = sku.qty - (skuRoundvalue[sku.sku]?skuRoundvalue[sku.sku]:1); SKUQTYChange(sku)">
								<i class="fa fa-minus" aria-hidden="true"></i>
								</button>
								<input type="text" ng-class="{qtycls: sku.qty === 0 }" ng-blur="sku.qty = changeToBaseqty(sku);changeSkuCost($index,sku);SKUQTYChange(sku)"  ng-model="sku.qty" min = "skuRoundvalue[sku.sku]?skuRoundvalue[sku.sku]:1" class="qty-center form-control" ng-show="tab.page == 1" only-digits/>
								<button type = "button" class="btn btn-primary btn-sm" ng-show="tab.page == 1" ng-click="sku.qty = sku.qty + (skuRoundvalue[sku.sku]?skuRoundvalue[sku.sku]:1) ; SKUQTYChange(sku)">
								<i class="fa fa-plus" aria-hidden="true"></i>
								</button>
								<span ng-show="tab.page == 4">{{sku.qty}}</span>
								<br>
 								<span ng-show="tab.page == 1"  ng-if="sku.qty === 0" class="qtyZero" style="color: red;">Quantity Should be greater than 0</span>
								</td>
								<td style="width:130px" ng-if="userRolePermissions.permissions.viewPurchasePrice">{{currency}} {{sku.totalnotax | number:2}}</td>
								<td  ng-show=" tab.page != 4" class="hide_pdf">
									<button type = "button" class="btn btn-link pull-right padding_0" ng-click="deleteskus(sku.id);"><span class="fa fa-trash-o"></button>
								</td>
							</tr>
						</tbody>
						<tbody ng-if = "summaryView || transferView" class="trans-tooltip noborder" >
				 		<tr ng-repeat="($index,sku) in skuslist | orderBy: '+lineNumber' | filter : search" ng-if = "summaryView"  class=" {{ (sku.originalOrder == false)? 'class-tr-bg' : 'no-class'}}" title="{{ (sku.originalOrder == false)? translation.messages[0].new_sku : ''}}"  data-placement="bottom"  bs-tooltip > 	
							<td>{{sku.lineNumber}}</td>
							<td>{{sku.sku || sku.SKU}}</td>
							<td>{{sku.description}}</td>
								<td ng-if="config.config_arr.selectedProductVariants">
								<div ng-repeat="($index,attribute) in config.config_arr.selectedProductVariants.featureValue" class="product_report" ng-if="sku.variants[attribute]"><span class="">{{translation.purchaseorders[0][attribute]?translation.purchaseorders[0][attribute]:attribute}} : </span><span class="">{{sku.variants[attribute]?sku.variants[attribute]:'-'}}</span><br></div>
								</td>
							<td ng-if="userRolePermissions.permissions.viewPurchasePrice" >{{currency}} {{sku.skuCostAsn ? sku.skuCostAsn : sku.skuCostConfirm ? sku.skuCostConfirm : sku.skuCost  || sku.productCost | number:2}}</td>
							<td>{{sku.producUom}}</td>
							<td ng-if = "summaryView"> <center> {{(sku.qtyStatus.submitted) || 0}}</center></td>
							<td ng-mouseover="hoverIn(sku.allqty)" ng-mouseleave="hoverOut()" class="inner_tb">
								<!-- <center ng-if = "!summaryView">{{(sku.qtyStatus.shipped || sku.qty) || 0}}</center> -->
								<center ng-if = "summaryView" >{{sku.expected}}</center>
								<div class="hoveredit-data">
								<div ng-show="hoverEdit" class="animate-show hide_pdf">
									<div class="inside_t">
										<span class="arrow_i"><i class="fa fa-caret-up"></i></span>
										<table class="table table-striped table-bordered">
											<tr ng-repeat="key in notSorted(sku.allqty) "   ng-init="value = sku.allqty[key]"  ng-if=" (sku.qtydetails[key]	!==	'hold') ">
												<td ng-show = "(sku.qtydetails[key]	==	'confirmed') || (sku.qtydetails[key]	=='unconfirmed') || (sku.qtydetails[key]	=='shipped' )" >{{key}} </td>
												<td ng-show = "(sku.qtydetails[key]	!=	'confirmed') && (sku.qtydetails[key]	!=	'unconfirmed' )&& (sku.qtydetails[key]	!=	 'shipped') ">{{key}} </td> 
												<td> {{value}}</td> 
											</tr>
										</table>
									</div>
								</div>
								</div>
							</td>
							
							<td ng-if = "summaryView"><center>{{sku.qtyStatus.received  ? sku.qtyStatus.received : 0 }}</center></td>
							<td ng-if="userRolePermissions.permissions.viewPurchasePrice" >{{currency}} {{sku.totalPrice || sku.totalProductCost| number:2}}</td>
						</tr> 
					</tbody>
				</table>
				</td>
			</tr>
		</thead>
	</table>
	<table  id="order_summary_export" style="width:100%;"  ng-if="skuslist.length > 0 && rplorder ">
		<thead >	
		<tr>
			<td>
			<table><thead><tr></tr></thead><tbody><td></td></tbody></table>
			<table class="table sku_table sku_config_head" ng-class="{'export_table' :  printclass}">
				<thead style="border-bottom: 1px solid #DDD;">
					<tr>
						<th>{{ovcLabel.styleGroup.lineNo}}</th>
						<th>{{ovcLabel.styleGroup.sku}}</th>
						<th>{{ovcLabel.styleGroup.description}}</th>
						<th  ng-if = "config.config_arr.selectedProductVariants">{{ovcLabel.styleGroup.productVariants}}</th><!-- 
						<th>{{translation.purchaseorders[0].length}}</th>
						<th>{{translation.purchaseorders[0].waist}}</th>
						<th>{{translation.purchaseorders[0].size}}</th> -->
						<th ng-if="userRolePermissions.permissions.viewPurchasePrice && !transferView">{{ovcLabel.styleGroup.cost}}</th>
						<th>{{ovcLabel.styleGroup.UOM}}</th>
						<th ng-if = "summaryView || transferView && !ship.shipmentview"><center>{{ovcLabel.styleGroup.submitted}}</center></th>
						<th ng-if = "!summaryView && !transferView" class="hide_pdf">{{ovcLabel.styleGroup.qty}}</th>
						<th ng-if = "summaryView"><center>{{ovcLabel.styleGroup.expected}}</center></th>
						<th ng-if = "summaryView   || transferView "><center>{{ovcLabel.styleGroup.received}}</center></th>
						<th ng-if="userRolePermissions.permissions.viewPurchasePrice && !transferView"> {{ovcLabel.styleGroup.totalcost}}</th>
						<th ng-if="!summaryView && tab.page !== 4 && !transferView" class="hide_pdf">{{ovcLabel.styleGroup.action}}</th>
					</tr>
				</thead>
				<tbody   class="trans-tooltip noborder" >
						<!--EDIT AND COPY PAGE OF RPL ORDERS-->
						<tr ng-repeat="sku in  skuslist| orderBy:'+lineNumber' | startFrom: (currentPage-1)*entryLimit |  limitTo: entryLimit" ng-if = "!summaryView">
							<td>{{sku.lineNumber}}</td>
							<td>{{sku.productCode}}</td>
							<td>{{sku.description}}</td>
							<td ng-if="config.config_arr.selectedProductVariants">
							<div ng-repeat="($index,attribute) in config.config_arr.selectedProductVariants.featureValue" class="product_report" ng-if="sku.variants[attribute]"><span class="">{{translation.purchaseorders[0][attribute]?translation.purchaseorders[0][attribute]:attribute}} : </span><span class="">{{sku.variants[attribute]?sku.variants[attribute]:'-'}}</span><br></div>
							</td><!-- 
							<td ng-if="sku.length != null">{{sku.length}}</td><td ng-if="sku.length == null">-</td>
							<td ng-if="sku.waist != null">{{sku.waist }}</td><td ng-if="sku.waist == null">-</td>
							<td ng-if="sku.size !=	'' ">{{sku.size}}</td><td ng-if="sku.size	==	''	">-</td> -->
							<td ng-if="userRolePermissions.permissions.viewPurchasePrice">{{currency}} {{sku.cost | number:2}}</td>
							<td>
								 <select ng-options=" uom.value as uom.name for uom in UOM  | orderBy:'name' "  ng-model="sku.selectedUOM" class="form-control" ng-change = "SKUQTYChange(sku)" ng-if="tab.page === 1">
									<option value="">--{{ovcLabel.styleGroup.selectuom}}--</option>
								</select>
								<span ng-show="tab.page == 4">{{UOMvalues[sku.selectedUOM]}}</span>
							</td>
							<td class="hide_pdf" ng-class="tab.page == 4 ? '' :'pdf-qty'" ng-init = "sku.changed = false;">
								<button type = "button" class="btn btn-primary btn-sm" ng-show="tab.page == 1" ng-click="sku.qty = sku.qty - (skuRoundvalue[sku.sku]?skuRoundvalue[sku.sku]:1); SKUQTYChange(sku)"><i class="fa fa-minus" aria-hidden="true"></i>
								</button>
								<input ng-class="{qtycls: sku.qty === 0 }" type="text" ng-model="sku.qty" min = "1" class="qty-center form-control" ng-show="tab.page == 1" ng-blur="sku.qty = changeToBaseqty(sku);changeSkuCost($index,sku);SKUQTYChange(sku)"  only-digits/>
								<button  type = "button" class="btn btn-primary btn-sm" ng-show="tab.page == 1" ng-click="sku.qty = sku.qty + (skuRoundvalue[sku.sku]?skuRoundvalue[sku.sku]:1) ; SKUQTYChange(sku)">
							<i class="fa fa-plus" aria-hidden="true"></i>
							</button>
							<span ng-show="tab.page == 4">{{sku.qty}}</span>
							<br>
 							<span ng-show="tab.page == 1"  ng-if="sku.qty === 0" class="qtyZero" style="color: red;">Quantity Should be greater than 0</span>
							</td>
							<td style="width:130px" ng-if="userRolePermissions.permissions.viewPurchasePrice">{{currency}} {{sku.totalnotax | number:2}}</td>
							<td  ng-show=" tab.page != 4" class="hide_pdf">
								<button type = "button" class="btn btn-link pull-right padding_0" ng-click="deleteskus(sku.id);"><span class="fa fa-trash-o"></button>
							</td>
						</tr>

						<!---SUMMARY VIEW OF RPL ORDERS-->
						<tr ng-repeat="sku in  skuslist| orderBy:'+lineNumber' | filter : search | startFrom: (currentPage-1)*action.entryLimit |  limitTo: action.entryLimit" ng-if = "summaryView"  class=" {{ (sku.originalOrder == false)? 'class-tr-bg' : 'no-class'}}" title="{{ (sku.originalOrder == false)? translation.messages[0].new_sku : ''}}"  data-placement="bottom"  bs-tooltip > 	
							<td>{{sku.lineNumber}}</td>
							<td>{{sku.SKU}}</td>
							<td>{{sku.description}}</td>
							<td ng-if="config.config_arr.selectedProductVariants">
							<div ng-repeat="($index,attribute) in config.config_arr.selectedProductVariants.featureValue" class="product_report" ng-if="sku.variants[attribute]"><span class="">{{translation.purchaseorders[0][attribute]?translation.purchaseorders[0][attribute]:attribute}} : </span><span class="">{{sku.variants[attribute]?sku.variants[attribute]:'-'}}</span><br></div>
							</td><!-- 
							<td ng-if="sku.length != null">{{sku.length }}</td><td ng-if="sku.length == null">-</td>
							<td ng-if="sku.waist != null">{{sku.waist }}</td><td ng-if="sku.waist == null">-</td>
							<td ng-if="sku.size !=	'' ">{{sku.size}}</td><td ng-if="sku.size	==	''	">-</td> -->
							<td ng-if="userRolePermissions.permissions.viewPurchasePrice" >{{currency}} {{sku.skuCostAsn ? sku.skuCostAsn : sku.skuCostConfirm ? sku.skuCostConfirm : sku.skuCost  ? sku.skuCost : 0| number:2}}</td>
							<td>{{sku.producUom}}</td>

							<td ng-if = "summaryView"> <center> {{(sku.qtyStatus.submitted) || 0}}</center></td>
							<td ng-mouseover="hoverIn(sku.allqty)" ng-mouseleave="hoverOut()" class="inner_tb">
								<!-- <center ng-if = "!summaryView">{{(sku.qtyStatus.shipped || sku.qty) || 0}}</center> -->
								<center ng-if = "summaryView" >{{sku.expected}}</center>
								<div class="hoveredit-data">
								<div ng-show="hoverEdit" class="animate-show hide_pdf">
									<div class="inside_t">
										<span class="arrow_i"><i class="fa fa-caret-up"></i></span>
										<table class="table table-striped table-bordered">
											<tr ng-repeat="key in notSorted(sku.allqty) "   ng-init="value = sku.allqty[key]"  ng-if=" (sku.qtydetails[key]	!==	'hold') ">
												<td ng-show = "(sku.qtydetails[key]	==	'confirmed') || (sku.qtydetails[key]	=='unconfirmed') || (sku.qtydetails[key]	=='shipped' )" >{{key}} </td>
												<td ng-show = "(sku.qtydetails[key]	!=	'confirmed') && (sku.qtydetails[key]	!=	'unconfirmed' )&& (sku.qtydetails[key]	!=	 'shipped') ">{{key}} </td> 
												<td> {{value}}</td> 
											</tr>
										</table>
									</div>
								</div>
								</div>
							</td>
							
							<td ng-if = "summaryView"><center>{{sku.qtyStatus.received  ? sku.qtyStatus.received : 0 }}</center></td>
							<td ng-if="userRolePermissions.permissions.viewPurchasePrice" >{{currency}} {{sku.totalProductCost || 0 | number:2}}</td>
					</tr> 
					</tbody>
				</table> 
			</td>
		</tr>
 		</thead>	
	</table>
	<div ng-if="POform.total_count > 0">
		<uib-pagination total-items="POform.total_count" items-per-page = "POform.entryLimit" ng-model="POform.currentPage" class="pagination-sm"  max-size = "5" boundary-links="true" ng-change="pageChangedSKUGroup()" ></uib-pagination>
		<div class="col-md-3 pglimit">
			<div class="pg_limit page_size_drdn">
				<label>{{ovcLabel.adjustments.list.pagesize}}:</label>
					<select  convert-to-number	ng-model="POform.entryLimit" class="pgsizes" ng-change="pageChangedSKUGroup()">
						<option>10</option>
						<option>20</option>
						<option>50</option>
						<option>100</option>
					</select>
			</div>
		</div>
	</div>
</div>
