<div class="table-responsive col-xs-12 trans_det">
<table style ="width:100%" class=" table-bordered table_bornone" id="order_summary_export">	
	<thead>	
		<tr ng-repeat="(key,product) in skuslist " ng-if="!getarrayif" class="stylegrp_block">
			<td  ng-if="product.skus.length>0" class="style_td">
				<table id="common_style_click" class="table table-bordered style_head export_table" iphone-view ng-click = "style_details = !style_details">
					<thead >
						<tr>
							<th class="sty_max">{{translation.returnreceipt.style}}</th>
							<th class="des_max">{{translation.returnreceipt.description}}</th>
							<th>{{translation.purchaseorders[0].color}}</th>
							<th>{{translation.ibt.total_qty}}</th>
							<th  ng-if = "action.editable && !isReversed" class="hide_pdf">{{translation.interface.action}}</th>
						</tr>
					</thead>

					<tbody class="style_body">
						<tr>
							<td>{{product.styleId}}</td>
							<td>{{product.styleDescription}}</td>
							<td class="sty_pro_col">{{product.styleColor}}</td>
							<td>{{product.qty}}</td>
							<td ng-if = "action.editable && !isReversed" ><button type = "button" class="btn btn-link padding_0 hide_pdf" ng-click="removeStyleGroup(key);"><span class="fa fa-trash-o"></button></td>
						</tr>
					</tbody>
				</table>
				<div class="table-responsive">
				<table class="table sku_table export_table" iphone-view ng-show = "style_details">
					<thead>
						<tr>
							<th>{{translation.returnreceipt.line_no}}</th>
							<th>{{translation.returnreceipt.sku}}</th>
							<th>{{translation.returnreceipt.description}}</th>
							<!-- <th>{{translation.purchaseorders[0].length}}</th> -->
							<!-- <th>{{translation.purchaseorders[0].waist}}</th> -->
							<!-- <th>{{translation.purchaseorders[0].size}}</th> -->
							<th  ng-if = "config.config_arr.selectedProductVariants">{{translation.labels[0].productVariants}}</th>
							<th ng-if="userRolePermissions.permissions.viewPurchasePrice">{{translation.vendors[0].cost}}</th>
							<th>{{translation.shipments[0].UOM}}</th>
							<th>{{translation.returnreceipt.qty}}</th>
							<th ng-if="userRolePermissions.permissions.viewPurchasePrice"> {{translation.purchaseorders[0].total_cost}}</th>
							<th ng-if = "action.editable && !isReversed" class="hide_pdf">{{translation.interface.action}}</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="($index,sku) in product.skus | orderBy:'lineNumber'" ng-if = "!summaryView && !transferView">
							<td>{{sku.lineNumber}}</td>
							<td id="common_skuValue"><p class="summary-td">{{sku.productCode}}</p></td>
							<td><p class="summary-td">{{sku.description}}</p></td>
							<!-- <td ng-if="sku.length != null">{{sku.length}}</td><td ng-if="sku.length == null">-</td> -->
							<!-- <td ng-if="sku.waist != null">{{sku.waist }}</td><td ng-if="sku.waist == null">-</td> -->
							<!-- <td ng-if="sku.size !=	'' ">{{sku.size}}</td><td ng-if="sku.size	==	''	">-</td> -->
							<td ng-if="config.config_arr.selectedProductVariants">
							<div ng-repeat="($index,attribute) in config.config_arr.selectedProductVariants.featureValue" class="product_report" ng-if="sku.variants[attribute]"><span class="">{{translation.purchaseorders[0][attribute]?translation.purchaseorders[0][attribute]:attribute}} : </span><span class="">{{sku.variants[attribute]?sku.variants[attribute]:'-'}}</span><br></div>
							</td>
							<td ng-if="userRolePermissions.permissions.viewPurchasePrice">{{currency}} {{sku.cost | number:2}}</td>
							<td class="currentzone-handcount">
								<p class="summary-td"> <select ng-options=" uom.value as uom.name for uom in UOM  | orderBy:'name' "  ng-model="sku.selectedUOM" class="form-control noPadding" ng-if = " action.editable && !isReversed" >
									<option value="">--{{translation.purchaseorders[0].select_uom}}--</option>
								</select>
								<span ng-if = "!action.editable || isReversed" >{{UOMvalues[sku.selectedUOM]}}</span>
								</p>
							</td>
							<td class="pdf-qty" ng-init = "sku.changed = false;">
							<p class="summary-td"><button type = "button" class="btn btn-primary btn-sm" ng-if = "action.editable" ng-disabled = "isReversed" ng-click="decrease($index,sku.qty,sku.style); 
							idminmax(sku.qty, 1, $index, sku.style);
							calcItems1($index,sku.qty, sku.cost,sku.total,sku.sku,sku.style); sku.changed = sku.originalQty == sku.qty ? false : true ;">
							<i class="fa fa-minus" aria-hidden="true"></i>
							</button>
							<input id="common_qty" type="text" ng-model="sku.qty" min = "1" class="qty-center form-control"
							ng-if = "action.editable" ng-disabled = "isReversed" 
							ng-change="sku.qty = minmax(sku.qty, 1); checkqtyempty(sku.qty); calcItems1($index,sku.qty, sku.cost,sku.total,sku.sku,sku.style); sku.changed = sku.originalQty == sku.qty ? false : true ;"  only-digits/>
							<button type = "button" id="common_decreaseBtnClick" class="btn btn-primary btn-sm" ng-if = "action.editable" ng-disabled = "isReversed" ng-click="increase($index,sku.qty,sku.style); 
							idminmax(sku.qty, 1, $index, sku.style);
							calcItems1($index,sku.qty, sku.cost,sku.total,sku.sku,sku.style); sku.changed = sku.originalQty == sku.qty ? false : true ;">
							<i class="fa fa-plus" aria-hidden="true"></i>
							</button>
							<span ng-if = "!action.editable" >{{sku.qty}}</span>
							</p>
							</td>
							<td ng-if="userRolePermissions.permissions.viewPurchasePrice">{{currency}} {{sku.totalnotax | number:2}}</td>
							<td class="hide_pdf" ng-if = "action.editable && !isReversed" >
								<button type = "button" class="btn btn-link pull-right padding_0" ng-click="deleteskus(sku.id);"><span class="fa fa-trash-o"></button>
							</td>
						</tr>
					</tbody>
				</table>
				</div>
			</td>
		</tr>
		<tr ng-repeat="(key,product) in skuslist | getarray | filter:search" ng-if="getarrayif" class="stylegrp_block">
			<td  ng-if="product.skus.length>0" class="style_td">
				<table id="common_style_click" class="table table-bordered style_head export_table" ng-click = "style_details = !style_details">
					<thead >
						<tr>
							<th class="sty_max">{{translation.returnreceipt.style}}</th>
							<th class="des_max">{{translation.returnreceipt.description}}</th>
							<th>{{translation.purchaseorders[0].color}}</th>
							<th>{{translation.ibt.total_qty}}</th>
							<th  ng-if = "action.editable && !isReversed" class="hide_pdf">{{translation.interface.action}}</th>
						</tr>
					</thead>

					<tbody class="style_body">
						<tr>
							<td>{{product.styleId}}</td>
							<td>{{product.styleDescription}}</td>
							<td class="sty_pro_col">{{product.styleColor}}</td>
							<td>{{product.qty}}</td>
							<td ng-if = "action.editable && !isReversed" ><button type = "button" class="btn btn-link padding_0 hide_pdf" ng-click="removeStyleGroup(key);"><span class="fa fa-trash-o"></button></td>
						</tr>
					</tbody>
				</table>
		
				<table class="table sku_table export_table" ng-show = "style_details">
					<thead>
						<tr>
							<th>{{translation.returnreceipt.line_no}}</th>
							<th>{{translation.returnreceipt.sku}}</th>
							<th>{{translation.returnreceipt.description}}</th>
							<!-- <th>{{translation.purchaseorders[0].length}}</th>
							<th>{{translation.purchaseorders[0].waist}}</th>
							<th>{{translation.purchaseorders[0].size}}</th> -->
							<th  ng-if = "config.config_arr.selectedProductVariants">{{translation.labels[0].productVariants}}</th>
							<th ng-if="userRolePermissions.permissions.viewPurchasePrice">{{translation.vendors[0].cost}}</th>
							<th>{{translation.shipments[0].UOM}}</th>
							<th>{{translation.returnreceipt.qty}}</th>
							<th ng-if="userRolePermissions.permissions.viewPurchasePrice"> {{translation.purchaseorders[0].total_cost}}</th>
							<th ng-if = "action.editable && !isReversed" class="hide_pdf">{{translation.interface.action}}</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="($index,sku) in product.skus | orderBy:'lineNumber'" ng-if = "!summaryView && !transferView">
							<td>{{sku.lineNumber}}</td>
							<td id="common_skuValue"><p class="summary-td">{{sku.productCode}}</p></td>
							<td><p class="summary-td">{{sku.description}}</p></td>
							<!-- <td ng-if="sku.length != null">{{sku.length}}</td><td ng-if="sku.length == null">-</td>
							<td ng-if="sku.waist != null">{{sku.waist }}</td><td ng-if="sku.waist == null">-</td>
							<td ng-if="sku.size !=	'' ">{{sku.size}}</td><td ng-if="sku.size	==	''	">-</td> -->
							<td ng-if="config.config_arr.selectedProductVariants">
								<div ng-repeat="($index,attribute) in config.config_arr.selectedProductVariants.featureValue" class="product_report" ng-if="sku.variants[attribute]"><span class="">{{translation.purchaseorders[0][attribute]?translation.purchaseorders[0][attribute]:attribute}} : </span><span class="">{{sku.variants[attribute]?sku.variants[attribute]:'-'}}</span><br></div>
							</td>
							<td ng-if="userRolePermissions.permissions.viewPurchasePrice">{{currency}} {{sku.cost | number:2}}</td>
							<td class="currentzone-handcount">
								 <select ng-options=" uom.value as uom.name for uom in UOM  | orderBy:'name' "  ng-model="sku.selectedUOM" class="form-control noPadding" ng-if = " action.editable && !isReversed" >
									<option value="">--{{translation.purchaseorders[0].select_uom}}--</option>
								</select>
								<span ng-if = "!action.editable || isReversed" >{{UOMvalues[sku.selectedUOM]}}</span>
							</td>
							<td class="pdf-qty" ng-init = "sku.changed = false;">
							<button type = "button" id="common_increaseBtnClick" class="btn btn-primary btn-sm" ng-if = "action.editable" ng-disabled = "isReversed" ng-click="decrease($index,sku.qty,sku.style); 
							idminmax(sku.qty, 1, $index, sku.style);
							calcItems1($index,sku.qty, sku.cost,sku.total,sku.sku,sku.style); sku.changed = sku.originalQty == sku.qty ? false : true ;">
							<i class="fa fa-minus" aria-hidden="true"></i>
							</button>
							<input id="common_qty" type="text" ng-model="sku.qty" min = "1" class="qty-center form-control"
							ng-if = "action.editable" ng-disabled = "isReversed" 
							ng-change="sku.qty = minmax(sku.qty, 1); checkqtyempty(sku.qty); calcItems1($index,sku.qty, sku.cost,sku.total,sku.sku,sku.style); sku.changed = sku.originalQty == sku.qty ? false : true ;"  only-digits/>
							<button type = "button" id="common_decreaseBtnClick" class="btn btn-primary btn-sm" ng-if = "action.editable" ng-disabled = "isReversed" ng-click="increase($index,sku.qty,sku.style); 
							idminmax(sku.qty, 1, $index, sku.style);
							calcItems1($index,sku.qty, sku.cost,sku.total,sku.sku,sku.style); sku.changed = sku.originalQty == sku.qty ? false : true ;">
							<i class="fa fa-plus" aria-hidden="true"></i>
							</button>
							<span ng-if = "!action.editable" >{{sku.qty}}</span>
							</td>
							<td style="width:130px" ng-if="userRolePermissions.permissions.viewPurchasePrice">{{currency}} {{sku.totalnotax | number:2}}</td>
							<td class="hide_pdf" ng-if = "action.editable && !isReversed" >
								<button type = "button" class="btn btn-link pull-right padding_0" ng-click="deleteskus(sku.id);"><span class="fa fa-trash-o"></button>
							</td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
	</thead>
</table>
</div>