<div class="row header_blk ng-scope">
	<div class="col-lg-12">
		<h3 class="page-header ng-binding">{{ovcLabel.count.new_count}}</h3>
	</div>
</div>
<div class="ven_tblk stock_loc clearfix">
	<div class="row r_margin ng-scope">
		<div class="col-lg-12">
			<form  role="form" name="form">
				<div class="add_vendorb clearfix">
				<div class="col-lg-6 addlocation panleft" style="padding: 0px;">
						<div class=" panel-default">
						<div class="panel-body">
							<div class="row">
							<div class="col-lg-12">
								<div class="form-group col-md-10" style="padding: 0px;">
									<label class="control-label">{{ovcLabel.count.labels.store_name}}: </label><br />
									<select id="storelocation" class="form-control storelocation" name="shiptostore" ng-model="ncount.locationId" ng-change="commonErrorChange('store')">
		                                <option value="">{{ovcLabel.count.placeholder.selectStore}}</option>
		                                <option ng-repeat="item in flatLocations" value="{{ item.id }}" ng-disabled="{{item.type}}">
		                                {{ item.indent }} {{ item.displayName }}
		                                </option>
		                            </select>
									<div class="erroralert">
										<span ng-show="customtab.error['storelocation']" class="alert alert-danger">{{customtab.errormsg['storelocation']}}</span>
									</div>
								</div>
								<!-- Count type -->
								<div  class="form-group col-md-10" style="padding: 0px;">
								  	<label class="control-label">{{ovcLabel.count.labels.count_type}}: </label>
									<select id="countType" class="form-control countType" name="countType" ng-model="ncount.countType" ng-change="commonErrorChange('countType')" >
										<option value="">{{ovcLabel.count.placeholder.count_type}}</option>
		                                <option ng-repeat="item in countType" value="{{item.code}}">{{item.label}}</option>
		                                <!-- <option value="Physical">Physical Count</option> -->
		                            </select>
									<div class="erroralert">
										<span ng-show="customtab.error['countType']" class="alert alert-danger">{{customtab.errormsg['countType']}}</span>
									</div>
								</div>
								<div class="form-group col-md-10" style="padding: 0px;">
									<label class="control-label">{{ovcLabel.count.labels.created_by}}: </label>
									<!-- <input class="form-control stockingLocationId" ng-trim="false" ng-pattern="/^[a-zA-Z0-9]*$/" placeholder="{{translation.counts[0].created_by}}" ng-model="ncount.createdby" name="createdby"  ng-disabled="true"> -->
									<input class="form-control stockingLocationId"  placeholder="{{ovcLabel.count.placeholder.created_by}}" ng-model="ncount.createdby" name="createdby"  ng-disabled="true">
								</div>
								<div  class="form-group col-md-10" style="padding: 0px;">
								   <label class="control-label">{{ovcLabel.count.labels.countName}}</label>
									<input class="form-control" name="countname" ng-model="ncount.countname" ng-change="commonErrorChange('countname',ncount.countname)" />
									<div class="erroralert">
										<span ng-show="customtab.error['countname']" class="alert alert-danger">{{customtab.errormsg['countname']}}</span>
										<span ng-show="checkcountname" class="alert alert-danger">{{checkcounterror}}</span>
									</div>
								</div>
										
								<div class="form-group col-md-10" style="padding: 0px;">
									<label class="control-label">{{ovcLabel.count.labels.description}}</label>
									<input class="form-control" name="description" ng-model="ncount.description" />
											
								</div>
								
								<div class="form-group col-md-10" style="padding:0">
									<label class="control-label">{{ovcLabel.count.labels.number_of_zones}}: </label>
									<input class="form-control stockingLocationId" ng-trim="false" ng-pattern="/^[0-9]{1,7}$/" placeholder="{{ovcLabel.count.placeholder.number_of_zones}}" ng-model="ncount.numberOfZones"  name="numberOfZones">
								</div>
								<span ng-show="form.numberOfZones.$error.pattern" class="col-md-10 alert alert-danger ng-binding">{{ovcLabel.count.error.enter_no}}</span>
								</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-6 addlocation" style="padding: 0px;">
						<div class=" panel-default">
							<div class="panel-body">
								<div class="row">
									<div class="col-lg-12">		
								<!-- <div class="form-group col-md-10" style="padding:0">
									<label class="control-label">{{translation.counts[0].start_date}}: </label>
									<!-- <input type="date" min="{{getDatetime | date:'yyyy-MM-dd'}}" ng-model='ncount.fromdate'  class="form-control"  pattern="YYYY-mm-dd"  ng-change='change_frdate(ncount.fromdate)' required /> 
									
									<input name="start_date" calendar1  ng-model='ncount.fromdate'  class="form-control hidcal"  ng-change='change_frdate(ncount.fromdate)' min-date="{{getDatetime | dateForm}}"  />
									<div class="erroralert">
										<span ng-show="customtab.error['fromDate']" class="alert alert-danger">{{customtab.errormsg['fromDate']}}</span>
									</div>
								</div>
								<div class="form-group col-md-10" style="padding:0">
									<label class="control-label">{{translation.counts[0].end_date}}: </label>
									<!-- <input type="date" min="{{newDate | date:'yyyy-MM-dd'}}"  ng-model='ncount.enddate'  class="form-control"  pattern="YYYY-mm-dd"  ng-change='change_todate(ncount.enddate)' required /> 
										<input name="end_date" calendar1  ng-model='ncount.enddate'  class="form-control hidcal"  ng-change='change_todate(ncount.enddate)' min-date="{{newDate | dateForm}}" required />
								</div> -->
								<!--<span  ng-show="fieldsrequired  && submitted" class="col-md-10 alert alert-danger ng-binding" >{{translation.messages[0].start_enddate}}</span>-->
								<!-- <span  ng-if="fieldsrequired && submitted" class="col-md-10 alert alert-danger ng-binding" >{{translation.messages[0].start_enddate}}</span> -->
								
								
								<div class="form-group col-md-10" style="padding:0">
									<label class="control-label">{{ovcLabel.count.labels.comments}}: </label>
									<textarea class="form-control stockingLocationDescription" rows="3" name="comment" ng-model="ncount.comment" placeholder="{{ovcLabel.count.placeholder.text}}"></textarea>
								</div>
								
							</div>
						</div>
						</div>
						</div>
						</div>
				</div>
				<div class="save_can acc_det clearfix">
					<div class="col-md-12">
						<div class="pull-right">
						<!-- <a ui-sref="ovc.Counts-countsvalidate"> -->
						<button name="count_save" class="btn btn-primary ng-binding" ng-click="newcount_add(ncount)" type="submit">{{ovcLabel.count.buttons.save}}</button>
						<!-- </a> -->
						<a name="count_cancel" ui-sref="ovc.Counts-list"><button class="btn btn-primary ng-binding" >{{ovcLabel.count.buttons.cancel}}</button></a>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
   
