<button class="col-md-12 text-left btn btn-default" ng-if="dash" ng-click="redirect()">
	<i class="fa fa-arrow-left" aria-hidden="true"></i>
	{{ovcLabel.customerOrder.list.backtodashboard}}
</button>
<div class="row header_blk">
    <div class="col-lg-12">
        <h3 class="page-header">{{ovcLabel.customerOrder.list.heading}}
			<div class="pull-right add_ven clearfix">
				<button name="add_customer_order" ng-disabled = "!userRolePermissions.orderPermissions.executeCustomer" ui-sref="ovc.customerorders-add"   title="{{ovcLabel.customerOrder.list.backtodashboard}}" class="btn btn-primary" ng-class = "{disabled:molporder}"><i class="fa fa-plus-circle"></i>{{ovcLabel.customerOrder.button.add_customer_order}} </button>
				<span ng-if="customerorders.list.length > 0">
					<ovcdata-export pdf-id="customerorder_export" heading="{{ovcLabel.customerOrder.list.heading}}"></ovcdata-export>
				</span>
			</div>
		</h3>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row r_margin">
<div class="ven_tblk clearfix">
    <div class="col-lg-12">
        <div class="panel-default">
            <!-- /.panel-heading -->
            <div class="panel-body search_box">
                <div class="row">					
					<form angular-validator-submit="searchCustomerOrder()">
					<div class="col-md-12 col-sm-12 col-xs-12 purchase_sech">
						
						<div class="col-sm-12 col-md-3 col-xs-12 col-lg-3">
									<label class="control-label">{{ovcLabel.customerOrder.list.fromDate}}</label>
									<input id="common_formDate" calendar  ng-model='srchOrderData.fromDate'  class="form-control hidcal"  ng-change='change_frdate()'  />
						
						</div>
						<div class="col-sm-12 col-md-3 col-xs-12 col-lg-3">
									<label class="control-label">{{ovcLabel.customerOrder.list.toDate}}</label>
									<input id="common_toDate" calendar  ng-model='srchOrderData.toDate'  class="form-control hidcal" ng-change='change_todate()' />
						
						</div>
						<!-- <div class="col-sm-3">
							<label class="control-label">{{translation.locations[0].store}}</label>
							
							<select ng-options="col.id as col.displayName for col in customerorders.storeDatas" class="form-control" name="shiptostore"  ng-model="srchOrderData.shipToStore"  ><option value="">-- {{translation.locations[0].select_store}} --</option></select>
						</div> -->
						<span class="col-sm-12 col-md-3 col-xs-12 col-lg-3"> 
							<label class="control-label">{{ovcLabel.customerOrder.list.location}}</label><br />
							<div click-out="showLoc=false" class="dropdown col-sm-12" style="padding-left: 0px;" >
								<div style="position: relative;" class="tooltip-pro width_padd">
									<input id="common_heirarchy_check" type="text" class="form-control"
										ng-model="location.displayName" ng-focus="showLoc = true"
										placeholder="{{ovcLabel.customerOrder.placeholder.location}}"
										style="padding: 6px 18px 6px 10px;"
										ng-change="searchLocation(location.displayName);" tooltip-placement="bottom" uib-tooltip="{{location.title}}"/> <span
										class="fa"
										ng-class="{'fa-caret-up' : showLoc, 'fa-caret-down' : ! showLoc}"
										style="position: absolute; right: 7px; top: 10px;">
								</div>
								<div tree-view="storeLocData" node-search="filterSearch()" check-box = "true"
									node-label="name" ng-show="showLoc"
									class="dropdown-menu treeViewDrop"
									style="display: block; width: 300px;" mode="listlocation"></div>
							</div>
						</span>
						<div>
						<div class="col-sm-12 col-md-3 col-xs-12 col-lg-3">
						<label class="control-label">{{ovcLabel.customerOrder.list.status}}</label>
				 		<div  multiselect-common="" items="statusData.dropshipStatusList" selected-items="statusData.dropshipStatusSelected"   naming="--Status--" dynamic="Status"></div>
				 		</div>

				 		</div>
				 		</div>
						
						<!-- <div class="col-sm-3">
							<label class="control-label">{{translation.vendors[0].status}}</label>
							
							<select ng-options="col.code as  col.label for col in   customerorders.orderStatusList | orderBy:'label' " class="form-control" name="orderStatus" id="orstatus" ng-model="srchOrderData.orderStatus" ><option value="">-- {{translation.vendors[0].status}} --</option></select>
						</div>
						 -->
					<div class="col-md-12  col-xs-12 col-sm-12 purchase_sech">

					
						<div class="col-sm-12 col-md-3 col-xs-12 col-lg-3">
							<label class="control-label">{{ovcLabel.customerOrder.list.vendor}}</label>
							
							<select ng-options="col.id as  col.name for col in customerorders.allVendors | orderBy:'name' " class="form-control" name="vendorName" id="vendorname" ng-model="srchOrderData.vendorName" ><option value="">-- {{ovcLabel.customerOrder.placeholder.vendor}} --</option></select>
						</div>
		
						<div class="col-sm-12 col-md-3 col-xs-12 col-lg-3">
						
						<label class="control-label">{{ovcLabel.customerOrder.list.orderno}}</label>
						<input type="text"  name="customerOrderNumber" id="search" ng-model='srchOrderData.purchaseOrderNumber'   class="form-control" />
						</div>
						<div class="col-sm-12 col-md-3 col-xs-12 col-lg-3">
								
						<label class="control-label">{{ovcLabel.customerOrder.list.erporder}}</label>
						<input type="text"  name="erpOrderNumber" id="search" ng-model='srchOrderData.erpOrderNumber'   class="form-control" />
						</div>
						<div class="col-sm-12 col-md-3 col-xs-12 col-lg-3">
								
						<label class="control-label">{{ovcLabel.customerOrder.list.customername}}</label>
						<input type="text"  name="customerName" id="search" ng-model='srchOrderData.customerName'   class="form-control" />
						</div>
					</div>
					<div class="col-sm-3 col-xs-12 trans-search">
					<a class='btn' id="advanced"ng-click="advanceSearch()">{{advanced?ovcLabel.customerOrder.list.basic:ovcLabel.customerOrder.list.advance}}</a>
					</div>
					<div ng-if="advSearch.isAdvanceSearch === true">
						<div class = "row">
							<advanced-search></advanced-search>
						</div>
					</div>
					<div class="col-md-12">
						<div class="col-md-3 col-sm-6 search_btns porder_srch">
							<button id="common_searchBtn"type="submit" class="btn btn-primary ng-binding" ng-click="searchCustomerOrder(); dashremove();" style="margin-right:10px;"><i class="fa fa-search" style="margin-right:3px;"></i>{{ovcLabel.customerOrder.button.search}}</button>
							<button id="common_resetBtn" type="reset" class="btn btn-primary rst_btn ng-binding" ng-click="customerOrderReset()" ><i class="fa fa-refresh" style="margin-right:3px;"></i>{{ovcLabel.customerOrder.button.reset}}</button>
						</div>
						
						<span  ng-show="customerorders.fieldsrequired  && customerorders.submitted" class="alert alert-danger ng-binding datevalid" >{{ovcLabel.customerOrder.error.from_todate}}</span>
					</div>
					</form>
				</div>
			</div>
                <!-- /.table-responsive -->
            <div class="ven_tbody">
				<div class="row">
					<div class="col-md-12 table-responsive" ng-show="customerorders.filteredItems > 0" >
						<table class="table table-striped table-bordered" iphone-view id="customerorder_export">
						<thead>
						
							<th >{{ovcLabel.customerOrder.list.orderno}}&nbsp;<a class="sort_align" ng-click="sort_by('customerOrderNumber');"><i class="fa " ng-class="{'fa-sort': predicate!='customerOrderNumber','fa-sort-asc': predicate=='customerOrderNumber' && reverse===false,'fa-sort-desc': predicate=='customerOrderNumber' && reverse===true}"></i></a></th>
							<!-- <th >{{translation.customerorders[0].erporderno}}&nbsp;<a class="sort_align" ng-click="sort_by('erpcustomerOrder');"><i class="fa " ng-class="{'fa-sort': predicate!='erpcustomerOrder','fa-sort-asc': predicate=='erpcustomerOrder' && reverse===false,'fa-sort-desc': predicate=='erpcustomerOrder' && reverse===true}"></i></a></th> -->
							<th>{{ovcLabel.customerOrder.list.noofvendororders}} &nbsp;<a class="sort_align" ng-click="sort_by('ordertype');"><i class="fa " ng-class="{'fa-sort': predicate!='ordertype','fa-sort-asc': predicate=='ordertype' && reverse===false,'fa-sort-desc': predicate=='ordertype' && reverse===true}"></i></a></th>
							<th  width="115px">{{ovcLabel.customerOrder.list.customername}}&nbsp;<a class="sort_align" ng-click="sort_by('csname');"><i class="fa " ng-class="{'fa-sort': predicate!='orderStatus','fa-sort-asc': predicate=='orderStatus' && reverse===false,'fa-sort-desc': predicate=='orderStatus' && reverse===true}"></i></a></th>
							<th>{{ovcLabel.customerOrder.list.noofskus}}&nbsp;<a class="sort_align" ng-click="sort_by('noofskus');"><i class="fa " ng-class="{'fa-sort': predicate!='noofskus','fa-sort-asc': predicate=='noofskus' && reverse===false,'fa-sort-desc': predicate=='noofskus' && reverse===true}"></i></a></th>
							<th ng-if="userRolePermissions.permissions.viewPurchasePrice">{{ovcLabel.customerOrder.list.total_amount}}</th>
							<!-- <th ng-show="vencol">{{translation.customerorder.dateplaced}}</th> -->
							<!-- <th>{{translation.customerorder.progress}}&nbsp;<a class="sort_align" ng-click="sort_by('totalPoCost');"><i class="fa " ng-class="{'fa-sort': predicate!='totalPoCost','fa-sort-asc': predicate=='totalPoCost' && reverse===false,'fa-sort-desc': predicate=='totalPoCost' && reverse===true}"></i></a></th> -->
							<th>{{ovcLabel.customerOrder.list.status}}&nbsp;<!-- <a class="sort_align" ng-click="sort_by('created');"><i class="fa " ng-class="{'fa-sort': predicate!='created','fa-sort-asc': predicate=='created' && reverse===false,'fa-sort-desc': predicate=='created' && reverse===true}"></i></a> --></th>
							
							<th>{{ovcLabel.customerOrder.list.progress}}</th>
							<th>{{ovcLabel.customerOrder.list.date_placed}}</th>
							<th data-hidePdf="true" class="hideExport" ng-if="userRolePermissions.orderPermissions.copyCustomer">{{translation.vendors[0].action}}</th>
						</thead>
						<tbody>
							
							<tr ng-repeat="data in customerorders.list  | orderBy : predicate :reverse" ng-class="((data.customerOrderType)=='RPL')? 'class-yellow' : 'yellow'">
							
								<td name="common_customerorder_Edit" class="name_li">
									<a ui-sref="ovc.customerorders-summary({orderid:data._id})" ng-if = "['received', 'submitted', 'inProgress', 'Submitted'].indexOf(data.orderStatusKey)!=-1" >{{data.purchaseOrderNumber}}</a>

									<a ui-sref="ovc.customerorders-edit({orderid:data._id})" ng-show="((data.orderStatus)=='draft' || (data.orderStatus)=='Draft')" data-hidePdf="true" class="hideExport">
									{{data.purchaseOrderNumber}} </a>
								</td>
								<td>{{data.numberOfVendors}}</td>
								<td>{{data.contactName}}</td>
								<td>{{!data.numberOfSKU ? 0 : data.numberOfSKU}}</td>
								<td ng-if="userRolePermissions.permissions.viewPurchasePrice">{{data.currency}}{{data.totalPoCostAsn ? data.totalPoCostAsn : data.totalPoCostConfirm ? data.totalPoCostConfirm : data.totalPoCost |number : 2}}
								<!-- {{data.totalPoCostConfirm != undefined ? data.totalPoCostConfirm : data.totalPoCost}} --></td>
								<td class="name_li">{{data.orderStatus}}</td>
								<td></td>
								<td>{{data.created | datetimeForm}}</td>
								<td data-hidePdf="true" class="hideExport" ng-if="userRolePermissions.orderPermissions.copyCustomer">
									<a href="" ng-click="customerOrderCopy(data._id)" class="btn btn-primary del_i"><i class="fa fa-files-o"></i>
									</a>
								</td>
							</tr>
						</tbody>
						</table>
					</div>
					<div class="col-md-12 panel-body" ng-show="customerorders.filteredItems == 0">
						<div class="col-md-12">
							<h4>{{ovcLabel.customerOrder.list.no_order}}</h4>
						</div>
					</div>
					<div class="col-md-12" ng-show="customerorders.filteredItems > 0">    
						<div class="panel-body fliter_i">

							<uib-pagination total-items="customerorders.filteredItems"  items-per-page ="customerorders.entryLimit"  ng-model="customerorderscurrentPage"  max-size = "5"  boundary-links="true" ng-change="pageChanged();" ></uib-pagination>
							
							<div class="col-md-3 pglimit">
								<div class="pg_limit page_size_drdn">
									<label>{{ovcLabel.customerOrder.list.pagesize}}:</label>
									<select  convert-to-number	ng-model="customerorders.entryLimit" class="pgsizes" ng-change="searchcustomerOrder()">
										<option>10</option>
										<option>20</option>
										<option>50</option>
										<option>100</option>
									</select>
								</div>
							</div>
						</div>
					</div>
				</div>
            </div>
            <!-- /.panel-body -->
        </div>
		</div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>
</div>

