<style>
body {
	overflow-y:hidden !important; 
}
</style>

<transaction-history></transaction-history>
<div class="row add_tit ng-scope">
	<div class="col-lg-12">
        <h3 class="page-header clearfix">
			<div class="col-md-4 trans_det"> {{ovcLabel.customerOrder.review}}</div>
			<div class="col-md-4 view_num"></div>
			<div class="col-md-4 v_progress">
				<div class="pull-right">
					<span class="label status" ng-class="{'alert-submitted': customerorders.orderStatus == 'submitted'}">{{ovcLabel.customerOrder.dropship_statuses[customerorders.orderStatus]}}</span>
				</div>
			</div>
		</h3>
	</div>  
    <!-- /.col-lg-12 -->
</div>

<section ng-controller="TranstabCntrl as tab">
	<div class="pro_menu  clearfix">
		<ul class="nav nav-pills">
			<li ng-class="{active:tab.isSet(1)}"><a href id="ds_summary" ng-click="tab.setTab(1)">{{ovcLabel.customerOrder.summary}}</a></li>
			<li ng-class="{active:tab.isSet(2)}"><a href id="ds_shipment" ng-click="tab.setTab(2); ">{{ovcLabel.customerOrder.shipments}}</a></li>
			
			<li style="float:right;margin-top:9px;margin-right:15px;">
				<div ng-if="tab.isSet(1)">
					<ovcdata-export pdf-id="order_summary_export" heading="{{translation.export_Heading.customerorder}}" type="summary"></ovcdata-export>
				</div>
				<div ng-if="tab.isSet(2)"> 
					 <ovcdata-export pdf-id="order_summary_export" heading="{{translation.export_Heading.customerorder}}" type="shipment"></ovcdata-export>
				</div>
			</li>
		</ul>
	</div>
	<div class="row r_margin ng-scope">
		<div class="ven_tblk clearfix">
			<div class="col-md-12">
				<div class="panel-default">
					<div class="panel-body search_box">
						<div class="row">
							<div class="col-lg-12 purs_order"  >
								<div class="col-md-4 trans_det export_pre_header" >
									<p class="clearfix" ng-hide="!(customerorders.purchaseOrderNumber)"><label class="mar_al view_p">{{ovcLabel.customerOrder.orderno}}</label><span class="view_ot">: {{customerorders.purchaseOrderNumber}}</span></p>
									<p class="clearfix" ng-hide="!(customerorders.ordertype_label)"><label class="mar_al view_p">{{ovcLabel.customerOrder.order_type}}</label><span class="view_ot">: {{customerorders.ordertype_label}}</span></p>
									<p class="clearfix" ng-hide="!(customerorders.originatedfrom )"><label class="mar_al view_p">{{ovcLabel.customerOrder.originated_from}}</label><span class="view_ot">: {{customerorders.originatedfrom }}</span></p>

									<textarea rows="4"  class="spl_inst ds_txtara form-control add_or"  name="transfer_comment" ng-model="customerorders.specialInstructions" placeholder="{{translation.purchaseorders[0].enter_msg}}" ng-disabled="true"></textarea>
								
								</div>
								<div class="col-md-4 trans_det export_pre_header" >
									<p class="clearfix"><label class="mar_al view_p">{{ovcLabel.customerOrder.create_date}}</label><span class="left_colon">:</span><span class="view_ot"> {{customerorders.created | dateForm}}</span></p>
									<p class="clearfix"><label class="mar_al view_p">{{ovcLabel.customerOrder.createdby}}</label><span class="left_colon">:</span><span class="view_ot">{{customerorders.createduser}}</span></p>
									<div class="clearfix hide_pdf"><label class="mar_al view_p">{{ovcLabel.customerOrder.shipping_address}}</label><span class="left_colon">:</span><span class="view_ot">
									<p ng-hide= "!(customerorders.contactName)"> {{customerorders.contactName}}</br></p>
									<p ng-hide= "!(customerorders.toStreetNumber)">
									 {{customerorders.toStreetNumber}}</br></p>
									<p ng-hide= "!(customerorders.toStreetName)">
									 {{customerorders.toStreetName}}</br></p>
									<p ng-hide= "!(customerorders.toCity)">
									 {{customerorders.toCity}}</br></p>
									<p ng-hide= "!(customerorders.toPostalCode)">
									 {{customerorders.toPostalCode}}</p></span></div>
									<p class="clearfix"><label class="mar_al view_p">{{ovcLabel.customerOrder.phone_number}}</label><span class="left_colon">:</span><span class="view_ot">{{customerorders.toPhoneNumber}}</span></p>
									<p class="clearfix"><label class="mar_al view_p">{{ovcLabel.customerOrder.email_add}}</label><span class="left_colon">:</span><span class="view_ot"> {{customerorders.email}}</span></p>
									
								</div>
								<div class="col-md-4 export_pre_header">
									<p><label class="mar_al view_amt"">{{ovcLabel.customerOrder.totalPackages}}</label><span>:  <label class="view_tot">{{customerorders.allstyles}}</label></span></p>
									<p><label class="mar_al view_amt"">{{ovcLabel.customerOrder.total_skus}}</label><span>:  <label class="view_tot">{{customerorders.allskus}}</label></span></p>
									<p ng-if="userRolePermissions.permissions.viewPurchasePrice"><label class="mar_al view_amt">{{ovcLabel.customerOrder.subtotal}}</label><span>:  <label class="view_tot">{{currency}}{{customerorders.allsubtotal}}</label></span></p>
									<p ng-if="userRolePermissions.permissions.viewPurchasePrice"><label class="mar_al view_amt">{{ovcLabel.customerOrder.tax}}</label><span>:   <label class="view_tot">{{currency}}{{customerorders.alltax}}</label></span></p>
									<p ng-if="userRolePermissions.permissions.viewPurchasePrice"><label class="mar_al view_amt">{{ovcLabel.customerOrder.vat}}</label><span>:   <label class="view_tot">{{currency}}{{customerorders.allvat}}</label></span></p>
									<p ng-if="userRolePermissions.permissions.viewPurchasePrice"><label class="mar_al view_amt">{{ovcLabel.customerOrder.total}}</label><span>:  <label class="view_tot">{{currency}} {{customerorders.alltotal}}</label></span></p>
								</div>	
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
 	<form role="form" name="form" >
		<div ng-show="tab.isSet(1)">
			<div class="col-sm-12" style="margin-top:20px;">
				<div class="ven_tbody ">
					<div class="ven_tbody">
						<div>
							<vendor-group ></vendor-group>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div ng-show="tab.isSet(2)">
			
		</div>
	</form>
</section>	